/*      ---------------------   CSS RESET ------------------------    */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* bg-color */
  --body-bg-color: rgb(204, 204, 204);
  --page-bg-color: white;
  --leftPanel-bg-color: rgb(0, 92, 133);
  --rightPanel-intro-bg-color: rgb(245, 245, 245);

  /* Color */
  --h1-text-color: #111;
  --leftPanel-text-color: white;
  --leftPanel-h2-color: white;
  --rightPanel-h2-color: rgb(0, 92, 133);
}

/*    -----------------------   ELEMENTS -------------------------     */
body {
  background: var(--body-bg-color);
  width: 21cm;
  height: 29.7cm;
  margin: 0 auto;
  font-family: arial, sans-serif;
  font-size: 0.37cm;
}

/* Printing */
page {
  background: var(--page-bg-color);
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
}

page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}

@page {
  size: 21cm 29.7cm;
  padding: 0;
  margin: 0mm;
  border: none;
  border-collapse: collapse;
}
/* End Printing */

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

h1 {
  color: var(--h1-text-color);
  font-weight: 700;
  font-size: 1cm;
}

h2 {
  margin-top: 0.1cm;
  margin-bottom: 0.1cm;
  font-size: 0.5cm;
}

p {
  margin-top: 0.05cm;
  margin-bottom: 0.05cm;
  line-height: 1.5;
}

ul {
  list-style: none;
}

li {
  padding-bottom: 0.1cm;
  line-height: 1.5;
}

a {
  text-decoration: none;
}
/* --------------------   COMPONENTS    --------------------------     */
/* Component 1: text-and-icons-list */
.text-and-icons-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 0.25cm;
  column-gap: 0.32cm;
}

/* Component 2: text-and-icon */
.text-and-icon {
  display: inline-flex;
  align-items: center;
  gap: 0.16cm;
  position: relative;
}

/* Component 3: subgroup-title */
.subgroup-title {
  font-weight: 700;
  letter-spacing: 0.03cm;
  position: relative;
  display: inline-block;
}

.subgroup-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.132cm;
  width: 100%;
}

/* Component 4: subgroup-content */
.subgroup-content {
  padding-top: 0.265cm;
  padding-bottom: 0.529cm;
}

/* Component 5: details-list */
.details-list {
  padding-left: 0.265cm;
}

/* Component 6: position-and-date */
.position-and-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.265cm;
}

.position {
  font-weight: bold;
}

.date {
  color: var(--rightPanel-h2-color);
  font-weight: bold;
}

.logo-image {
  max-width: 0.5cm;
  font-size: 0.5cm;
}

.logo-tool {
  width: 45%;
}

/* ----------------   LEFTPANEL   --------------------------       */
/* Class leftPanel */
.leftPanel {
  width: 35%;
  background-color: var(--leftPanel-bg-color);
  padding: 0.7cm;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--leftPanel-text-color);
}

.leftPanel a {
  color: inherit;
}

.leftPanel .subgroup-title {
  color: var(--leftPanel-h2-color);
}

.leftPanel .subgroup-title::after {
  border-bottom: 1px solid var(--leftPanel-h2-color);
}

/* Part 1 of leftPanel: Avatar */
.leftPanel .avatar {
  width: 4cm;
  height: 4cm;
  margin-bottom: 0.7cm;
  border-radius: 50%;
  border: 0.15cm solid white;
  object-fit: cover;
  object-position: 50% 50%;
}

/* Part 2 of leftPanel: Details */
.leftPanel .details {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 0.7cm;
  gap: 0.7cm;
}

/* Part 1 of details: Contact */
.contactIcon {
  width: 0.5cm;
}

/*    ------------------    RIGHTPANEL    ----------------------       */
/* Class RightPanel */
.rightPanel {
  width: 65%;
  padding: 0.7cm;
}

/* Part 1 of rightPanel: Intro-container */
.intro-container {
  padding-bottom: 0.529cm;
}

.intro-content {
  background-color: var(--rightPanel-intro-bg-color);
  padding: 0.529cm;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  width: 30%;
  height: 0.053cm;
  background-color: black;
  margin: 0.529cm auto;
}

.profession {
  font-size: 0.55cm;
}

/* Part 2 of rightPanel: Details */
.rightPanel .subgroup-title {
  color: var(--rightPanel-h2-color);
}

.rightPanel .subgroup-title::after {
  border-bottom: 1px solid var(--rightPanel-h2-color);
}

.competences li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.competences .competence-first-sentence {
  width: 60%;
}

.link {
  color: var(--rightPanel-h2-color);
  font-weight: 600;
}

.link-demonstration {
  color: rgb(211, 211, 211);
  font-weight: 600;
}
